# Development dependencies for running tests and linters.
-r requirements.txt
check-jsonschema>=0.37.4,<1
bandit>=1.9.4,<2
flake8>=7.3.0,<8
mypy>=2.2.0,<3
pyright>=1.1.411,<2
pylint>=4.0.6,<5
pymarkdownlnt>=0.9.38,<1
pytest>=9.1.1,<10
pytest-cov>=7.1.0,<8
pywinpty>=3.0.0,<4; platform_system == "Windows"
ruff>=0.15.20,<1
yamllint>=1.38.0,<2
yq>=4.1.1,<5
# types
types-docker>=7.1.0.20260518,<8
types-jsonschema>=4.26.0.20260518,<5
types-PyYAML>=6.0.12.20260518,<7
